<div class="page-header">
  <h1>Entry #<%= @entry.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Text</dt>
  <dd><%= @entry.text %></dd>

  <dt>Owner</dt>
  <dd><%= @entry.owner.firstname %></dd>

  <dt>Image</dt>
  <dd><%= @entry.image %></dd>

<h2>Who can view this entry</h2>
<ul>
<% @entry.can_views.each do |viewer| %>
  <li class = "list-group-item">
      <a href ="/users/<%=  viewer.id  %>"><%= viewer.firstname %></a></li>
<% end %>
</ul>
</dl>
